.titles {
  text-align: center;
}

.heading {
  &__headingone {
    font-size: 6rem;
    font-weight: 800;
  }

  &__title {
    font-size: 3rem;

    &--dark {
      color: $darkGrayColor;
    }

    &--white {
      color: $whiteColor;
    }
  }

  &__subtitle {
    font-size: 1.6rem;

    // padding-top: 1rem;
    // padding-bottom: 4rem;

    &--dark {
      color: $darkGrayColor;
    }

    &--white {
      color: $whiteColor;
    }
  }
}
