////////////////////////////////////////////////////////////////////////// Margins
.marg {
  &__lowmarg {
  }

  &__medmarg {
  }

  &__highmarg {
  }

  // Horizontal
  &__lowmarghoriz {
  }

  &__medmarghoriz {
  }

  &__highmarghoriz {
  }

  // Vertical
  &__lowpaddvert {
  }

  &__medpaddvert {
  }

  &__highpaddvert {
  }

  // Top
  &__lowmargtop {
  }

  &__medmargtop {
  }

  &__highmargtop {
  }
  // Bottom
  &__lowmargbott {
  }

  &__medmargbott {
  }

  &__highmargbott {
  }
  // left
  &__lowmargleft {
  }

  &__medmargleft {
  }

  &__highmargleft {
  }
  // Right
  &__lowmargright {
  }

  &__medmargright {
  }

  &__highmargright {
  }
}

////////////////////////////////////////////////////////////////////////// Paddings
.padd {
  &__lowpadd {
  }

  &__medpadd {
  }

  &__highpadd {
  }

  // Horizontal
  &__lowpaddhoriz {
    padding: 0 1rem;
  }

  &__medpaddhoriz {
    padding: 0 4rem;
  }

  &__highpaddhoriz {
    padding: 0 7rem;
  }

  // Vertical
  &__lowpaddvert {
    padding: 1rem 0;
  }

  &__medpaddvert {
    padding: 4rem 0;
  }

  &__highpaddvert {
    padding: 7rem 0;
  }

  // Top
  &__lowpaddtop {
  }

  &__medpaddtop {
  }

  &__highpaddtop {
  }
  // Bottom
  &__lowpaddbott {
    padding-bottom: 1rem;
  }

  &__medpaddbott {
    padding-bottom: 4rem;
  }

  &__highpaddbott {
    padding-bottom: 7rem;
  }
  // left
  &__lowpaddleft {
  }

  &__medpaddleft {
  }

  &__highpaddleft {
  }
  // Right
  &__lowpaddright {
  }

  &__medpaddright {
  }

  &__highpaddright {
  }
}
